services:
  web:
    build: .
    container_name: job_portal
    env_file: # added .env file to load environment variables (docker run --env-file ./.env your_image_name if wan) 
      - ./.env
    ports:
      - "8000:8000"